[submodule "build_qt_binaries"]
	path = build_qt_binaries
	url = https://github.com/219-design/build_qt_binaries.git
[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/pestophagous/fluidsynth.git
[submodule "oboe"]
	path = oboe
	url = https://github.com/google/oboe.git
