[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/pestophagous/fluidsynth.git
[submodule "oboe"]
	path = oboe
	url = https://github.com/google/oboe.git
[submodule "prefab"]
	path = prefab
	url = https://github.com/google/prefab.git
